.faq {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 15px;
    margin-top: 25px;
}

.faq-title {
    font-size: 32px;
    margin-bottom: 15px;
}

.expandable {
    margin: 15px 0;
    overflow: hidden;
    transition: all .5s ease-in;
    height: 0;
    
}

.expandable-btn {
    display: block;
    padding: 10px 100px 10px 10px;
    border-radius: 10px;
    border: solid 1px;
    
}

.expandable:target {
    height: 100px;
}