.footer {
    background-color: $dark-grey;
    height: 300px;
    box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.25);
    color: white;
}

.footer-organize {
    padding: 120px 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 140px;
    text-align: center;
    align-items: center;
}

.footer-logo {
    font-size: 32px;
    font-weight: 400;
}

span.footer-nio {
    background: $nio-gradient;
    background-clip: text;
    font-size: 32px;
    font-weight: 600;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.footer-links__hover {
    transition: 0.2s color ease-in;

    &:hover {
        color: rgba(0, 110, 255, 0.404);
    }
}
