.game-list {
    margin: 0 auto;
    padding: 0 10px;
    max-width: 1750px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 100px;
    justify-content: space-around;
}

.game-list__column {
    margin-left: auto;
    margin-right: auto;
}

.game-list__item {
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.50);
    background-color: $dark-grey;
    width: 375px;
    height: 265px;
    margin-bottom: 75px;
    border-radius: 10px;
}

.game-list__item-image {
    border-radius: 10px;
    width: 100%;
    max-height: 188px;
}

.game-list__item-description {
    color: white;
    font-size: 24px;
    font-weight: 600;
    margin: 10px 14px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
}

.game-list__item-button {
    border-radius: 10px;
    padding: 12px 37px;
    font-size: 24px;
    background: $nio-gradient;
    font-weight: 200;
    text-align: center;
}