.game-page__title {
    margin: 25px 0;
    font-size: 32px;
    font-weight: 600;
}

.game-page__info {
    display: flex;
}

.game-page__img {
    border-radius: 10px;
    height: 100%;
}

.game-page__description {
    margin-left: 15px;
    font-size: 18px;
    width: 600px;
}

.game-page__buy {
    background-color: $dark-grey;
    height: 100px;
    border-radius: 10px;
    margin: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.game-page__buy-text {
    margin-left: 30px;
    font-size: 24px;
}

.game-page__buy-button {
    display: flex;
    margin-right: 30px;
    font-size: 18px;
    font-weight: 600;
}

.game-page__buy-button__text {
    align-self: center;
    margin-right: 15px;
}

.game-page__buy-button__btn {
    padding: 15px 45px;
    background: $nio-gradient;
    border-radius: 10px;
}

.game-page__table {
    border-collapse: collapse;
    width: 100%;
    text-align: center;
    margin-bottom: 15px;
}

.game-page__table-text {
    font-size: 18px;
    margin: 15px;
}

td, th {
    border: 1px solid white;
}