.header-bg {
    background-color: $dark-grey;
    height: 150px;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
}

.header {
    display: flex;
    justify-content: space-between; 
    font-weight: 600;
    font-size: 28px;
    align-items: center;
    width: 100%;
}

.header-nav__btn {
    position: relative;
    border-radius: 20px;
    transition: 0.5s;

    &::before {
        content: "";
        position: absolute;
        border-radius: inherit;
        top:0;
        left: 0;
        height: 100%;
        width: 100%;
    }

    &::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        border-radius: inherit;
        background-color:rgba(0, 0, 0, .5);
        opacity: 0;
    }

    &:hover::after {
        content: '';
        display: block;
        width: 124%;
        height: 150%;
        position: absolute;
        top: -25%;
        left: -12%;
        right: 0;
        bottom: 0;
        background-color:rgba(0, 0, 0, .5);
        opacity: 1;
        transition: inherit;
    }
}


.header-nav__img {
    vertical-align: middle;
    width: 42px;
    height: 42px;
}

.header-nav__img-sale {
    width: 25%;
    height: 25%;
}

.active {
    position: relative;
}

.active::before {
    content: '';
	display: block;
	width: 124%;
	height: 150%;
	position: absolute;
	top: -25%;
	left: -12%;
	right: 0;
	bottom: 0;
    border-radius: 20px;
	background-color:rgba(0, 0, 0, .5);
}