//COLORS
$dark-grey: #0f0f0f;
$dark-purple: #131523;
$nio-gradient: linear-gradient(
    47deg,
    #36a9e1 10.05%,
    #1d71b8 38.8%,
    #2d2e83 71.5%,
    #29235c 97.41%
);

//FONTS
$font-main: "Nunito", sans-serif;
